{% extends './base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
<section
    class="about-section container d-sm-block d-md-flex p-lg-3 mt-5 pt-lg-5 align-items-center justify-content-center">
    <div class="img-sect col-sm-12 col-md-6">
        <img src="../image/stolen.jpg" alt="" class="img-fluid">
    </div>
    <div class="text-sect col-sm-12 ps-md-4 col-md-6 col-lg-6 ">
        <h3>ABOUT EFUNSEWA HERBS LIMITED</h3>
        <h5>Who we are</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aut in exercitationem porro, dolor eaque
            quas hic cum accusamus explicabo ratione sint debitis, asperiores consequatur esse repellat at corporis
            praesentium. </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit eveniet, et voluptate officia numquam non nisi
            delectus excepturi voluptates distinctio unde soluta quia enim minima tempore illo consequatur maiores
            pariatur!
        </p>
    </div>
</section>

<!-- History -->
<section class="history-section container p-lg-3 mt-5">
    <div class="history-top">
        <h2>OUR HISTORY</h2>

    </div>
    <div class="history-body mt-5 p-lg-3 row justify-content-center align-items-center">
        <div class="history-img col-sm-12 col-md-6 ">
            <img src="../image/stolen.jpg" class="img-fluid" alt="">
        </div>
        <div class="history-text ps-md-4 col-sm-12 col-md-6 ">
            <h4 class="header">Success Story</h4>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt et blanditiis rerum sint ullam
                fuga est ut. Porro, nesciunt. Earum tempora aspernatur quaerat, enim ullam repudiandae. Accusantium eius
                quasi
                corrupti neque? Eligendi quo tenetur totam? Magnam facere et pariatur repudiandae iure. Nisi
                consequuntur
                temporibus perspiciatis! Soluta aspernatur maiores facere commodi quos ut impedit veniam? Vitae sit iste
                itaque! Architecto ratione aperiam recusandae dolore eaque officiis soluta, fugit ipsum eveniet nostrum.
            </p>
        </div>
    </div>
</section>
<!-- Counter -->

<section class="counter  mt-5 container-fluid d-sm-block d-md-flex ">
    <div class="counts">
        <h2>2</h2>
        <p>BUSINESS YEARS</p>
    </div>
    <div class="counts">
        <h2>1</h2>
        <p>STORE</p>
    </div>
    <div class="counts">
        <h2>4</h2>
        <p>EMPLOYEES</p>
    </div>
    <div class="counts">
        <h2>2000+</h2>
        <p>HAPPY CUSTOMERS</p>
    </div>
</section>
{% endblock content %}