{% extends './base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/product-details.css' %}">


{% comment %} Main Code {% endcomment %}
<main class="container p-4  product-details">
  <div class="mb-5"><a href="{% url 'home' %}" class="back-to-home"><i class="fa-solid fa-house fa-2x"></i>Home</a>
  </div>
  <div class="product-spec">
    <div class="item-img">
      <img src="{{product.image}}" alt="" />
    </div>
    <div class="item-information">
      <h3 class="item-name">{{product.name}}</h3>

      <p class="item-description mt-3">{{product.desc}}</p>
      <p class="item-price">&#8358;{{product.price}}</p>


      <a href="https://wa.me/message/2R2PYQKD7IEHG1">Send a message</a>



</main>


{% endblock %}